*{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(173, 114, 173, 0.8),rgba(163, 183, 82, 0.8)), url(iit1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #7b5e7a;
    text-align: center;
    padding: 50px 60px 70px;
} 

.form-box h1{
    font-size: 30px;
    margin-bottom: 50px;
    color: black;
    position: relative;
} 

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background: black;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #cfbfbf;
    margin: 15px 0px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: rgb(89, 14, 99);
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    background: #ad9aa7;
    width: 143.5%;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    font-size: 16px;
}

.input-field::placeholder{
    font-size: xx-large;
}

input::placeholder{
    font-size: 16px;
    color: black;
}

form p{
    text-align: left;
    font-size: 14px;
}

form p a{
    text-decoration: none;
    color: rgb(224, 224, 34);
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background-color: #ad9aa7;
    color: black;
    border-radius: 15px;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable{
    background: #cfbfbf;
    color: black;
}